<div id="create-question-form" onload="startQuiz()">
    <h2>Multiple Choice</h2>
    <form onsubmit="addCustomQuestion(event)">
        <label for="custom-question">Question:</label>
        <input type="text" id="custom-question" required>
        <label for="custom-answers">Answers (comma-separated, asterisk correct answer):</label>
        <input type="text" id="custom-answers" required>
        <button type="submit" class="btn btn-outline-dark">Add Question</button>
    </form>
</div>
<button id="backBtn" class="btn btn-outline-dark">Back</button>
<script>$("#backBtn").click(function(){
    loadHTMLPage('../partials/_MainMenu.html', '#container-contents');
})</script>
