

body {
    font-family: 'Arial', sans-serif;
    display: block;
    background-color: #FFFDF5;
}

div.container {
    margin: 5px auto 5px auto;
}

nav {
    background: #22376D;
    color: #ffffff;
    margin-bottom: 3rem;
}
.navbar {
    padding-top: 5px;
    padding-bottom: 10px;
}

.bg-navy {
    background: #22376D !important;
    box-shadow: #01172E -2px 7px 9px;
}

.bx-shad {
    box-shadow: -2px 4px 6px rgb(68, 68, 68);
}

.ribbon {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #02006c;
  padding: 10px;
  text-align: left;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  z-index: 1000;
}

.ribbon a {
  color: #121212;
  text-decoration: none;
  font-weight: bold;
}

h1, h2 {
    color: #121212;
}

p {
    color: #282828;
}

form {
    color: #282828;
    font-size: 20px;
}
